In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
<pyspark.sql.session.SparkSession object at 0x7f151db73340>

In [2]:
spark.sql("SELECT * FROM live_coding_featurestore.profiles_1").show(1)

+----------------+-------------------+------------------+--------------------+----------------------+-------------------+--------------------+--------------------+-------+
|          cc_num|         event_time|               age|  _hoodie_record_key|_hoodie_partition_path|_hoodie_commit_time|   _hoodie_file_name|_hoodie_commit_seqno|country|
+----------------+-------------------+------------------+--------------------+----------------------+-------------------+--------------------+--------------------+-------+
|4625641055714032|2024-03-06 00:00:24|31.504110350076104|cc_num:4625641055...|                    US|  20240306123146376|e427841c-c4b7-48e...|20240306123146376...|     US|
+----------------+-------------------+------------------+--------------------+----------------------+-------------------+--------------------+--------------------+-------+
only showing top 1 row

In [8]:
df = spark.read.format("hudi").load("hdfs://namenode.service.consul:8020/apps/hive/warehouse/live_coding_featurestore.db/profiles_1")

In [5]:
df.createOrReplaceTempView("test")

In [6]:
spark.sql("SELECT * from test").show(1)

+-------------------+--------------------+--------------------+----------------------+--------------------+----------------+-------------------+------------------+-------+
|_hoodie_commit_time|_hoodie_commit_seqno|  _hoodie_record_key|_hoodie_partition_path|   _hoodie_file_name|          cc_num|         event_time|               age|country|
+-------------------+--------------------+--------------------+----------------------+--------------------+----------------+-------------------+------------------+-------+
|  20240306123146376|20240306123146376...|cc_num:4625641055...|                    US|e427841c-c4b7-48e...|4625641055714032|2024-03-06 00:00:24|31.504110350076104|     US|
+-------------------+--------------------+--------------------+----------------------+--------------------+----------------+-------------------+------------------+-------+
only showing top 1 row